"Software Developer"

Requirement 1 " Degree in Computer Science? (None ; Bachelor ; Master ; PhD)"  AcademicDegree: Bachelor
Requirement 2 "Select one or more programming languages you are proficient in (java; javascript; python)" Programming Languages:Java, JavaScript
Requirement 3 "Number of years of experience (Integer)" Integer: 3